body{
    background-color: #fdfdfd;
  }
  .container{
    width: 80%;
    margin: 0rem auto;
    border: 1px solid #eff0f2;
    border-radius: 3px;
  }
  
  .titre1{
    margin: 1rem 8.9rem;
    border: 1px solid #eff0f2;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #a6a2a20a;
  }
  
  